body {
  background-image: url("/assets/bg.jpg");
  background-size: cover;
}

nav {
  background-color: rgba(57, 57, 57, 0.7);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.navbar-brand .bi {
  font-size: 2.5rem;
  color: rgb(242, 242, 242);
  margin-right: 5px;
  vertical-align: bottom;
}

.navbar-brand span {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 40px;
  color: rgb(125, 255, 153);
  font-weight: bold;
}

.dropdown .nav-link span {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-image: url('/assets/duckie.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-top: 5px;
}

.dropdown-toggle::after {
  display: none;
}

li a.dropdown-item{
    text-align: right;
  }

/* .dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}
 */
/* .dropdown.show .dropdown-menu {
  max-height: 300px;
  opacity: 1;
} */

.list-group-item {
  display: flex;
  justify-content: space-between;
}

.list-group-item h5 {
  display: inline-block;
}

.list-group-item .badge {
  align-self: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 9px;
  padding-right: 9px;
}

.card-header {
  background-color: #f0f0f0;
  
}

.card-header h4 {
  margin-bottom: 0;
}

.card-body {
  padding: 0px;
}

.card-body p {
  margin-bottom: 0;
}

div.col-sm-8 div.card div.card-body {
  padding-top: 10px;
  padding-left: 9px;
  padding-right: 9px;
}

.chat-card{
  max-width: 50%;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-bottom: 10px;
}

.chat-card.text-end {
  background-color: #31ae4c;
  color: #fff;
  margin-left: auto;
}

.chat-card.text-start {
  background-color: #f0f0f0;
  color: #000;
  margin-right: auto;
}

div.card-body div.text-start div.card-body {
  padding-left: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}

div.card-body div.text-end div.card-body {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 13px;
}

.message_input_wrapper form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .message_input {
  width: calc(100% - 50px);
  border: none;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding-left:10px;
  padding-bottom: 4px;
  height: 100%;
} */

.form-control {
  resize: none;
  border-radius: 1rem;
}

.input-group.rounded {
  border-radius: 0.5rem;
}

.send_message {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #78e08f;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.send_message:hover {
  background-color: #58d68d;
  transition: all 0.3s;
}


