body {
    background-image: url("/assets/bg.jpg");
    background-size: cover;
  }
  
nav {
  background-color: rgba(57, 57, 57, 0.7);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.navbar-brand i {
  font-size: 2.5rem;
  color: rgb(242, 242, 242);
  margin-right: 5px;
}

.navbar-brand span {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 40px;
  color: rgb(125, 255, 153);
  font-weight: bold;
}

.nav-link {
  color:aliceblue;
  font-size: 17px;
}

.btn-custom {
  transform: translateY(2px);
  font-size: 17px;
}